/* chunk [output]/.next/server/app/chunks/rsc/app_page_module.css */
/* [project]/app/page.module.css (css, rsc) */
.intro_section__page__f5b8e2ef {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}
.intro_text__page__f5b8e2ef {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}
.highlight__page__f5b8e2ef {
  color: #007bff;
  font-weight: 600;
}

