/* [project]/app/form/listItem.module.css (css, rsc) */
.list_item1__listItem__c833277b {
  display: flex;
  height: 40px;
  border-radius: 50%;
  width: 40px;
  background-color: #eaddff;
  justify-content: center;
  align-items: center;
}
.list_item1__listItem__c833277b div {
  font-size: 24px;
  color: black;
}
.list_item2__listItem__c833277b {
  color: black;
}
.list_item3__listItem__c833277b {
  color: black;
  font-size: 10px;
}