/* [project]/app/page.module.css (css, rsc) */
.home_page_section__page__f5b8e2ef {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.home_content_wrapper__page__f5b8e2ef {
  width: 312px;
  height: 454px;
  background-color: #eaddff;
}
.intro_section__page__f5b8e2ef {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  background-color: #f4f4f4;
}
.intro_text__page__f5b8e2ef {
  padding: 2rem;
  text-align: center;
  font-size: 1.2rem;
  color: #333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 8px;
}
.highlight__page__f5b8e2ef {
  color: #007bff;
  font-weight: 600;
}