/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
.page_main__GlU4n {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.page_home_content_wrapper__3SFvx {
  display: flex;
  flex-direction: column;
  width: 312px;
  height: 454px;
  background-color: #ECE6F0;
  border-radius: 30px;
}

.page_content_header__VoL5d {
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  color: black;
  width: 152px;
  height: 35px;
}

.page_content_body__MEf_P {
  width: 260px;
  height: 128px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: #49454F;
}

